<h3>Please update your information</h3>

<form action="" method="POST">
    {{!-- something to edit the user profile --}}
    <label for="name">Your full name</label>
    <input type="text" name="fullname" id="name">
    <label for="username">Your username</label>
    <input type="text" name="username" id="username" value="{{user.username}}">
    <button>Update information</button>
</form>